/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 2rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
    font-size: 85%;  
    word-wrap:break-word;
}

p {
    padding: 10px 0px;
}
/****
    my own addition css
*/
.w3-left{float:left!important}.w3-right{float:right!important}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.w3-left-align{text-align:left!important}.w3-right-align{text-align:right!important}.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}
.w3-image-small{max-width:100%;height:auto;max-height:142px}img{margin-bottom:-5px}a{color:inherit}
.w3-image{max-width:100%;height:auto;max-height:720px}img{margin-bottom:-5px}a{color:inherit}
.w3-image-album{max-width:100%;height:auto;max-height:200px;min-width:55px}img{margin-bottom:-5px}a{color:inherit}
.w3-top,.w3-bottom{position:fixed;z-index:1}.w3-top{top:0}.w3-bottom{bottom:0}
.w3-center {text-align:center}.w3-block{display:block;width:100%}
.w3-center{text-align:center!important}
.w3-center .w3-bar{display:inline-block;width:auto}

.pagination {
    display: inline-block;
}

.pagination li {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s;
}

.pagination li.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}

.pagination li:hover:not(.active) {background-color: #ddd;}

#map {
        height: 400px;
        width: 100%;
       }
       
.bg-selfmade {
    background-color: #4E8C26 !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #499145;
}

